<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{page.title}}</title>
		<link href="{% if page.person %}http://hackingtheuniversity.net{% endif %}/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css">
		<link href="{% if page.person %}http://usesthis.com{% endif %}/feed/" rel="alternate" title="Atom feed" type="application/atom+xml">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=0.6, maximum-scale=1.0" />
	</head>
	<body>
		<header>
			<h1><a href="{% if page.person %}http://hackingtheuniversity.net{% endif %}/" title="The most recent interviews.">Hacking the University</a></h1>
			<p id="tagline">Learning a craft</p>
		</header>
		<nav>
			<ul>
				<li><a href="{% if page.person %}http://hackingtheuniversity.net{% endif %}/interviews/" title="All the other interviews.">Interviews</a></li>
				<li><a href="{% if page.person %}http://hackingtheuniversity.net{% endif %}/about/" title="A little more info about the site.">About</a></li>
				<li><a href="{% if page.person %}http://hackingtheuniversity.net{% endif %}/community/" title="Other interviews by people like you.">Community</a></li>
				<li><a href="{% if page.person %}http://hackingtheuniversity.net{% endif %}/feed/" title="The site's Atom feed.">Feed</a></li>
				<li><a href="http://twitter.com/hackingtheuniversity/" title="The site's Twitter account.">Twitter</a></li>
			</ul>
		</nav>
		<aside id="sidebar">
			<p>
			<p>Inspired by <a href='http://usesthis.com' title='The Setup'>The Setup</a></p>
		</aside>
		<section id="contents">
		{{content}}
		</section>
		<footer>
			<p>Unless otherwise noted, everything is available via the <a href="http://creativecommons.org/licenses/by-sa/2.0/uk/" title="A Creative Commons license.">Attribution-Share Alike</a> license.</p>
	  	</footer>
	</body>
</html>